body, html {
    background-color: #e1f5fe;
    overflow-x: hidden;
    margin: 0 0 0 0;
    border: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

h1{
    margin: 0;
    margin-bottom: 30px;
}
/*header{
    height: 12%;
    width: 100%;
    background: #01579b;
    z-index: 10;
}*/

.container{
    height: 93%;
    width: 60%;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background-color: white;
    box-shadow: 0px 0px 30px #424242;
}

.formulaireClient label{
    margin-left: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.formulaireClient {
    width: 80%;
    padding-top: 7%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
}

.partieGerant{

}

.tableau_gerant{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#details-panel1{
    margin-bottom: 30px;
}
